@page "/fetchdata"
@using TaskTracker.Server.Data
@using TaskTracker.Server.Models.Entities
@using TaskTracker.Server.Models.Repositories
@inject TaskRepository tskrepository;
@inject WeatherForecastService ForecastService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if(pageState == PageState.Default)
{
    <table class="table">
        <thead>
            <tr>
                <th>Is Executed</th>
                <th>Id</th>
                <th>Description</th>
                <th><button @onclick="@(() => Add())">Add</button></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in tasks.Where(x => !x.IsDeleted))
        {
                <tr>
                    <td><InputCheckbox @bind-Value="@task.IsExecuted" /></td>
                    <td>@task.Id</td>
                    <td>@task.Description</td>
                    <td>
                        <button @onclick="@(() => StartEdit(task.Id))">Edit</button>
                        <button @onclick="@(() => Delete(task.Id))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @if (pageState == PageState.Add)
    {
        <p>Add Row</p>
    }
    else if (pageState == PageState.Edit)
    {
        <p>Edit Row @current.Id</p>
    }
    <input type="text" @bind-value="current.Description"/>

    <button @onclick="@(() => Cancel())">Cancel</button>

    if (pageState == PageState.Add)
    {
        <button @onclick="@(() => Add())">Add</button>
    }
    else if (pageState == PageState.Edit)
    {
        <button @onclick="@(() => ContinueEdit())">Edit</button>
    }
}

@code {
    public List<TaskEntity> tasks = new List<TaskEntity>();
    public PageState pageState = PageState.Default;

    public TaskEntity current;

    public enum PageState
    {
        Default = 0,
        Add = 1,
        Edit = 2
    }

    protected override async Task OnInitializedAsync()
    {
        current = new TaskEntity();

        // tasks = new List<TaskEntity>()
        // {
        //     new() { Id = 1, Description = "Task 1" },
        //     new() { Id = 2, Description = "Task 2" },
        //     new() { Id = 3, Description = "Task 3" }
        // };

        tasks = await tskrepository.GetAll();
    }

    public async Task Add()
    {
        if (pageState == PageState.Default)
        {
            current = new TaskEntity();

            pageState = PageState.Add;
        }
        else if (pageState == PageState.Add)
        {
            // tasks.Add(new() { Id = tasks.Last().Id + 1, Description = current.Description });
            await tskrepository.Add(new TaskEntity() { Description = current.Description, IsExecuted = current.IsExecuted });

            tasks = await tskrepository.GetAll();

            pageState = PageState.Default;
        }
    }

    public async Task StartEdit(int id)
    {
        if (pageState == PageState.Default)
        {
            // var task = tasks.First(x => x.Id == id);
            var task = await tskrepository.Get(id);

            current = new TaskEntity()
            {
                Id = task.Id,
                Description = task.Description
            };

            pageState = PageState.Edit;
        }
    }

    public async Task ContinueEdit()
    {
        if (pageState == PageState.Edit)
        {
            // var task = tasks.First(x => x.Id == current.Id);
            var task = await tskrepository.Get(current.Id);

            await tskrepository.Update(current);

            current = new TaskEntity();

            tasks = await tskrepository.GetAll();

            pageState = PageState.Default;
        }
    }

    public async Task Delete(int id)
    {
        // var task = tasks.First(x => x.Id == id);
        
        // task.IsDeleted = true;

        await tskrepository.Delete(id);

        tasks = await tskrepository.GetAll();
    }

    public void Cancel()
    {
        if (pageState != PageState.Default)
        {
            current = new TaskEntity();
            pageState = PageState.Default;
        }
    }
}
