@page "/users"
@using TaskTracker.Server.Data
@using TaskTracker.Server.Models.Entities
@using TaskTracker.Server.Models.Repositories
@inject UserRepository usrepository;
@inject WeatherForecastService ForecastService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if(pageState == PageState.Default)
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th><button @onclick="@(() => Add())">Add</button></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in users.Where(x => !x.IsDeleted))
        {
                <tr>
                    <td>@task.Id</td>
                    <td>@task.Name</td>
                    <td>@task.Email</td>
                    <td>
                        <button @onclick="@(() => StartEdit(task.Id))">Edit</button>
                        <button @onclick="@(() => Delete(task.Id))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @if (pageState == PageState.Add)
    {
        <p>Add Row</p>
    }
    else if (pageState == PageState.Edit)
    {
        <p>Edit Row @current.Id</p>
    }
    <br/>
    <input type="text" @bind-value="current.Name"/>
    <input type="text" @bind-value="current.Email"/>

    <br/>
    <button @onclick="@(() => Cancel())">Cancel</button>

    if (pageState == PageState.Add)
    {
        <button @onclick="@(() => Add())">Add</button>
    }
    else if (pageState == PageState.Edit)
    {
        <button @onclick="@(() => ContinueEdit())">Edit</button>
    }
}

@code {
    public List<UserEntity> users = new List<UserEntity>();
    public PageState pageState = PageState.Default;

    public UserEntity current;

    public enum PageState
    {
        Default = 0,
        Add = 1,
        Edit = 2
    }

    protected override async Task OnInitializedAsync()
    {
        current = new UserEntity();

        users = await usrepository.GetAll();
    }

    public async Task Add()
    {
        if (pageState == PageState.Default)
        {
            current = new UserEntity();

            pageState = PageState.Add;
        }
        else if (pageState == PageState.Add)
        {
            await usrepository.Add(new UserEntity() { Name = current.Name, Email= current.Email});

            users = await usrepository.GetAll();

            pageState = PageState.Default;
        }
    }

    public async Task StartEdit(int id)
    {
        if (pageState == PageState.Default)
        {
            var task = await usrepository.Get(id);

            current = new UserEntity()
            {
                Id = task.Id,
                Name = task.Email
            };

            pageState = PageState.Edit;
        }
    }

    public async Task ContinueEdit()
    {
        if (pageState == PageState.Edit)
        {
            var task = await usrepository.Get(current.Id);

            await usrepository.Update(current);

            current = new UserEntity();

            users = await usrepository.GetAll();

            pageState = PageState.Default;
        }
    }

    public async Task Delete(int id)
    {
        await usrepository.Delete(id);

        users = await usrepository.GetAll();
    }

    public void Cancel()
    {
        if (pageState != PageState.Default)
        {
            current = new UserEntity();
            pageState = PageState.Default;
        }
    }
}
